/* CUSTOM FONTS */
@font-face {
  font-family: 'kionaregular';
  src: url('./fonts/kiona-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'kionaitallic';
  src: url('./fonts/kiona-itallic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* TITLE FONTS */

h1, h2, h3 {
  font-family: 'kionaregular' !important;
  font-weight: bolder !important;
  font-style: normal !important;
}

/*DEVICON IMAGES*/

.devicon {
  height: 100px;
  width: auto;
  padding: 10px;
}